* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    /* background-color: #FFF; */
}
.colored-text{
    background-image: linear-gradient(180deg, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
}
/* navigation bar styles----------------------------------- */
header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.nav-logo, .nav-menu{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo-title{
    font-size: 2.8125rem;
    font-weight: 700;
    color: #0B0223;
}
.inline-text-style{
    font-size: 2.8125rem;
    color: #FF42A5;
}
.nav-menu a{
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
}
.follow-on{
    padding: 1rem;
    border-radius: .5rem;
    background-color: rgba(11, 2, 35, 0.10);
}


/* banner styles----------------------------------- */
.banner-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-information{
    width: 50%;
    
}
.banner-title{
    font-size: 3rem;
    color: #0B0223;
    font-weight: 600;
}
.goat{
    font-size: 5.9rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.banner-description{
    font-size: 1.25rem;
    color: #534C64;
    font-weight: 500;
    margin-bottom: 1rem;
}
.banner-btn{
    padding: 1.3125rem 2.5rem;
    border-radius: 3rem;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    color: #FFF;
    margin-top: 1.5rem;
}
.btn1{
    background-color: #FF42A5;
    margin-right: 1rem;
}
.btn2{
    background-color: #4EC5F7;
}
.banner-image{
    width: 50%;
}
.banner-image img{
    width: 100%;
}


/* online games video styles------------------------------- */
.online-games-container{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 10rem;
    text-align: center;

}
.online-games-title{
    font-size: 3rem;
    color: #0B0223;
    font-weight: 700;
    margin-bottom: 1rem;
}
.funny-videos{
    font-size: 3rem;
}
.online-games-description{
    color: #534C64;
    font-size: 1.125rem;
    margin-bottom: 3rem;
}
.online-video-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}
.video-card{
    margin-bottom: 2rem;
}
.video-card img{
    width: 90%;
    margin-bottom: 1.5rem;
}
.video-description{
    color: #534C64;
    font-weight: 500;
    line-height: 1.8rem;
}


/* instant play styles----------------------------- */
.instant-play-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 14rem;
    margin-bottom: 9rem;
}
.instant-play-information{
    width: 35%;
    text-align: right;
}
.instant-title{
    font-size: 3rem;
    font-weight: 700;
    
}
.instant-description{
    color: #534C64;
    font-size: 1.125rem;
    
    margin-top: 1.5rem;
    line-height: 1.8rem;
}
.instant-play-image{
    width: 40%;
    position: relative;
}
.instant-img1{
    width: 100%;
}
.instant-img2{
    width: 50%;
    position: absolute;
    top: 16rem;
    left: -7rem;
}

/* games collection container styles-------------------------------- */
.games-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03), rgba(255, 66, 165, 0.03));
    padding-bottom: 6rem;
}
.games-collection{
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.game{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .2rem;
    background-color: #FFF;
    border-radius: 3rem;
}
.game img{
    width: 3rem;
}
.game h4{
    font-size: 1rem;
    font-weight: 600;
}
.game:hover{
    border: 1px solid #F948B2;
    color: #F948B2;
}



/* responsive design for small device */
@media screen and (max-width:576px) {
    *{
        font-size: 8px;
    }
    .nav-container, .nav-menu {
        flex-direction: column;
        gap: 1rem;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 3rem;
    }
    .banner-information, .banner-image{
        width: 70%;
        
    }
    .banner-information{
        padding-left: 25%;
    }
    .online-video-container{
        grid-template-columns: 1fr;
    }
    .instant-play-container{
        flex-direction: column;
        gap: 2rem;
    }
    .instant-play-information, .instant-play-image{
        width: 60%;
        text-align: center;
    }
    .games-collection{
        display: grid;
        grid-template-columns: repeat(3,1fr);

    }

}

/* responsive design for tablet */
@media screen and (min-width:577px) and (max-width:768px) {
    *{
        font-size: 11px;
    }
    .nav-container{
        max-width: 700px;
    }
    .banner-container{
        max-width: 700px;
    }
    .online-video-container{
        grid-template-columns: repeat(2,1fr);
    }
}
